html body {
	margin: 0 -27px;
	padding: 0;
	height: 100%;
	text-align: -webkit-center;
}

#nav {
	display: inline;
	float: right;
	position: top;
	height: 30px;
	padding: 10px;
	margin: 0 auto;
	font-family: "roboto";
}

#nav li {
	list-style-type: none;
	display: block;
	float: right;
	width: 70px;
	padding: 0 10px; 
}

#nav a {
	font-size: 18px;
	text-decoration: none;
	color: #000;
}

#content {
	padding-top: 40px;
	padding-bottom: 50px;

}

#logo img {
	position: fixed;
	margin-left: -5%;
	width: 45%;
	top: 30%;
	height: 92px;
	width: 272px;
}

#form {
	position: relative;
	padding-top: 220px;
	clear: both;
	font-size: 20px;
	font-family: "roboto";
}

#searchinput {
	width: 500px;
	height: 25px;
}

form .search {
	display: inline;
	margin-left: -5%;

}

input .button {
	position: relative;
	background-color: #e7e7e7; 
	color: black;

}

#footer {
	position: absolute;
	list-style-type: none;
	height: 40px;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #F2F2F2;
}

#footer li {
	list-style-type: none;
	display: inline;
	width: 60px;
	padding: 10px;
	bottom: 0px;
}

.leftfooter {
	float: left;
}

.rightfooter {
	float: right;
}

#footer a {
	font-size: 15px;
	text-decoration: none;
	color: #666;
}

li {
	font-family: "roboto";
}
